<h2>Home2 works!</h2>
<p>component2 works!</p>
<input [(ngModel)]="numero" />
<br />

<strong *ngIf="numero > 3"> El numero es mayor a 3</strong>
<p *ngIf="numero == 3"> El numero es 3</p>
<strong *ngIf="numero < 3 || numero !='' ">{{ numero }}, El numero es meor que 3</strong>


<p></p>
<tr *ngFor="let sueldo of sueldos">
<td>{{sueldo}}</td>    
</tr>
<ul *ngFor="let sueldo of sueldos">
    <li>{{sueldo}}</li>
</ul>
<div *ngFor="let sueldo of sueldos">
    <div> Sueldo: {{sueldo}}</div>
</div>
<button (click)="almacenar()">Almacenar</button>